rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // facility
    match /facility/{id} {
      allow read: if true;
      allow create: if true;  // TODO: 課金したUserだけ許可する
      allow update: if true;  // TODO: 課金したUserだけ許可する
      allow delete: if false;
    }

    // wifiMeasurementResult
    match /wifiMeasurementResult/{id} {
      allow read: if true;
      allow create: if true;  // TODO: 課金したUserだけ許可し、かつ同じ施設に対して、一日に一度の投稿しかできないようにする
      allow update: if false;
      allow delete: if false;
    }
  }
}
