rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Wifi測定時刻の認証    
    function validMeasurementTime(result) {
      // 誤差3分以内であれば許可する
      return request.time >= (result.terminalTime - duration.time(0, 3, 0, 0))
      && request.time <= (result.terminalTime + duration.time(0, 3, 0, 0));
    }

    // user
    match /user/{id} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }

    // facility
    match /facility/{id} {
      allow read: if true;
      allow create: if true; 
      allow update: if true; 
      allow delete: if false;
    }

    // config
    match /config/{id} {
      allow read: if true;
    }

    // wifiMeasurementResult
    match /wifiMeasurementResult/{id} {
      allow read: if true;
      allow create: if validMeasurementTime(request.resource.data);  
      allow update: if false;
      allow delete: if false;
    }

    // bax
    match /bax/{id} {
      allow read: if true;
      allow create: if true;
      allow update: if false;
      allow delete: if false;
    }
  }
}
