rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // facility
    match /facility/{id} {
      allow read: if true;
      allow create: if false;
      allow update: if false;
      allow delete: if false;
    }

    // measurementHistory
    match /measurementHistory/{id} {
      allow read: if true;
      allow create: if true;  // TODO: 課金したUserだけ許可する
      allow update: if false;
      allow delete: if false;
    }
  }
}
