<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353244908191-8kqc4i3khvpshplehikveesoh1n0beb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353244908191-8kqc4i3khvpshplehikveesoh1n0beb3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>353244908191-mlsfaq42k3obp31vmb7kp90lam28856i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPfuIkBu8b2mNbaT4d84jq2XJCgnHeOtk</string>
	<key>GCM_SENDER_ID</key>
	<string>353244908191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutteruniv.bax</string>
	<key>PROJECT_ID</key>
	<string>bax-wifi-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bax-wifi-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353244908191:ios:89de1ea3eae142a636b0aa</string>
</dict>
</plist>